//base styles
:root {
    --color-gray: #838383;
    --color-gray-second: #9197B3;
    --color-light-gray: #B5B7C0;
    --color-blue: #5932EA;
    --color-green: #16C098;
    --color-green-dark: #008767;
    --color-red: #DF0404;
}
body{
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

p{
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.hidden{
    display: none;
}

.body-container{
    display: flex;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

//Left side menu styles
.menu{
    min-width: 300px;
    margin: 36px 28px 76px;
    position: relative;
    height: 100vh;
    @media screen and (max-width: 1024px) {
        min-width: 220px;
    }
    @media screen and (max-width: 768px) {
        height: fit-content;
    }
    @media screen and (max-width: 426px) {
        margin: 24px 15px 24px;
    }
}

.header-logo{
    display: flex;
    margin-bottom: 64px;
    @media screen and (max-width: 768px) {
        margin-bottom: 12px;

    }
    &__text{
        font-weight: 600;
        font-size: 26px;
        line-height: 1.5em;
        margin-left: 8px;
    }
    &__span{
        font-weight: 400;
        font-size: 10px;
        line-height: 1.5em;
        letter-spacing: -1%;
        color: var(--color-gray);
    }
}

.menu-nav{
    &__list {
        display: flex;
        flex-direction: column;
        gap: 18px;
        @media screen and (max-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    }
    &__list__item{
        min-height: 46px;
        display: flex;
        align-items: center;
        width: 100%;
        @media screen and (max-width: 768px) {
            width: fit-content;
        }

    }
    &__div{
        display: flex;
        align-items: center;
        
    }
    &__text{
        color: var(--color-gray);
        font-size: 14px;
        line-height: 1.5em;
        font-weight: 400;
        margin-left: 14px;
    }
    &__link{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-height: inherit;
        padding: 11px;
        @media screen and (max-width: 768px) {
            gap: 10px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }

        &:hover{
            background-color: var(--color-blue);
            border-radius: 8px;
            .menu-nav__text{
                color: white;
            }
            .icon-svg{
                fill: white;
                stroke: white;
            }
            .icon-svg__different{
                fill: transparent;
                stroke: white;
            }
        }
        &:focus{
            background-color: var(--color-blue);
            border-radius: 8px;
            .menu-nav__text{
                color: white;
            }
            .icon-svg{
                fill: white;
                stroke: white;
            }
            .icon-svg__different{
                fill: transparent;
                stroke: white;
            }
        }
    }
}

.active{
    background-color: var(--color-blue);
    border-radius: 8px;
    .menu-nav__text{
        color: white;
    }
    .icon-svg{
        fill: white;
        stroke: white;
    }
    .icon-svg__different{
        fill: transparent;
        stroke: white;
    }
}

.icon-svg{
    fill: var(--color-gray-second);
    stroke: var(--color-gray-second);
    stroke-width: 0;
    display: inline-block;
    width: 1em;
    height: 1em;
}

.icon-svg__different{
    fill: transparent;
    stroke: var(--color-gray-second);
    stroke-width: 0;
    display: inline-block;
    width: 1em;
    height: 1em;
}

.footer{
    bottom: 0;
    position: absolute;
    @media screen and (max-width: 768px) {
        top: 0;
        right: 0;

    }
    &__div{
        display: flex;
        gap: 12px;
    }
    &__name{
        font-size: 14px;
        line-height: 1.5em;
        font-weight: 400;
    }
    &__job{
        font-size: 14px;
        line-height: 1.5em;
        font-weight: 400;
        color: var(--color-gray-second);
    }
}
h1{
    @media screen and (max-width: 426px) {
        padding-left: 20px;
    }
}

.main{
    padding: 41px 95px 0;
    background-color: #FAFBFF;
    flex-grow: 1;
    @media screen and (max-width: 1024px) {
        padding: 41px 20px 0;
    }
    @media screen and (max-width:426px) {
        padding: 41px 0px 0;
    }


    &__table{
        position: relative;
    }

    &__info{
        background-color: white;
        padding: 30px 38px;
        margin-bottom: 75px;
        @media screen and (max-width: 768px) {
            margin-bottom: 40px;
        }
        @media screen and (max-width:426px) {
            padding: 30px 15px;
        }

    }

    &__top{
        display: flex;
        align-items: center;
        gap: 447px;
        position: relative;
        margin-bottom: 40px;
        @media screen and (max-width: 1024px) {
            gap: 384px;
        }
        @media screen and (max-width: 768px) {
            gap: 280px;
        }
        @media screen and (max-width:426px) {
            gap: 24px;
            margin-bottom: 0px;

        }

    }
    &__h2{
        font-weight: 600;
        font-size: 22px;
        line-height: 1.5em;
    }
    &__active{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5em;
        color: var(--color-green);
    }

    &__search{
        position: relative;
        z-index: 4;
    }
}



.icon-search{
position: absolute;
width: 32px;
height: 32px;
}
.search_field{
    min-width: 216px;
    min-height: 38px;
    background-color: #FAFBFF;
    border: none;
    border-radius: 10px;
    padding-left: 40px;
}

.dt-length{
    display: none;
}
label{
    display: none;
}

.dt-input{
    position: absolute;
    min-width: 216px;
    min-height: 38px;
    background-color: #FAFBFF;
    border: none;
    border-radius: 10px;
    padding-left: 40px;
    right: 0;
    top: -77px;
    z-index: 3;
}

.column-name {
    
    display: flex;
    gap: 50px;
}

.col{
    font-size: 14px;
    color: var(--color-light-gray);
    text-align: left;
    padding-bottom: 14px;
}

.table-item{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5em;
    padding: 20px 0;
    @media screen and (max-width: 768px) {
        white-space: nowrap;       /* Забороняємо перенесення тексту на новий рядок */
        overflow: hidden;          /* Ховаємо текст, що виходить за межі контейнера */
        text-overflow: ellipsis;   /* Відображаємо трійку крапок для обрізаного тексту */
        max-width: 60px;          /* Максимальна ширина контейнера, за якою буде обрізаний текст */
        cursor: pointer; 
    }
    @media screen and (max-width: 426px) {
        font-size: 12px;
        font-weight: 400;
        line-height: 1em;
        padding: 10px 0;
    }

}

.display{
    width: 100%;
    position: relative;
}
.dataTable{
    width: 100%;
    position: relative;
}
table{
    width: 100%;
}

td {
    width: fit-content;
    padding: 10px;
}

thead{
    position: relative;
    @media screen and (max-width:426px) {
        display: none;
    }
}

.trAfter::after{
    content: '';
    position: absolute;
    background-color: var(--color-light-gray);
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
}

tr {
    position: relative; 
}

tr::after {
    content: ''; 
    position: absolute; 
    left: 0; 
    bottom: 0;
    width: 100%; 
    height: 1px; 
    background-color: var(--color-light-gray); 
}

.dt-layout-row{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    width: 100%;
}

.dt-info{
    color: var(--color-light-gray);
    @media screen and (max-width:426px) {
        font-size: 12px;
    }

}
.first{
    display: none;
};

.last{
    display: none;
}

.dt-paging {
    display: flex;
    gap: 12px;
}

.dt-paging-button{
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    color: #404B52;
    padding: 6px 9px;
    min-height: 24px;
    min-width: 26px;
    background-color: #F5F5F5;
    border: 1px solid var(--color-light-gray);
    border-radius: 4px;
} 

.current{
    background-color: var(--color-blue);
    color: #F5F5F5;
}

.status-active{
    background-color: rgba(22, 192, 152, 0.38);
    color: var(--color-green-dark);
    border: 1px solid var(--color-green-dark);
    border-radius: 4px;
    padding: 4px 0;
    text-align: center;
    @media screen and (max-width:426px) {
        font-size: 1px;
        color: transparent;
        border-radius: 50%;
        width: 20px;
        height: 20px;

    }

}
.status-inactive{
    background-color: rgba(255, 197, 197, 1);
    color: var(--color-red);
    border: 1px solid var(--color-red);
    border-radius: 4px;
    padding: 4px 8px;
    text-align: center;
    @media screen and (max-width:426px) {
        font-size: 1px;
        color: transparent;
        border-radius: 50%;
        width: 20px;
        height: 20px;
    }
}

colgroup{
    width: 100%;
}

.myTable  {
    width: 100%;
}
.custom-class-1 {
    width: 140px; 
}
.custom-class-2 {
    width: 95px; 
    @media screen and (max-width:426px) {
        width: 4px; 

    }
}
.custom-class-3 {
    width: 140px; 
    @media screen and (max-width:426px) {
        width: 100px; 

    }
}
.custom-class-4 {
    width: 190px; 
    @media screen and (max-width:426px) {
        width: 4px; 

    }
}
.custom-class-5 {
    width: 125px; 
    @media screen and (max-width:426px) {
        max-width: 40px; 
    }
}
.custom-class-6 {
    width: 100px; 
    @media screen and (max-width:426px) {
        max-width: 40px; 

    }
}

.table-item-tel{
    @media screen and (max-width:426px) {
        background-image: url(../assets/call.png);
        background-repeat: no-repeat;
        color: transparent;
        font-size: 1px;
        width: 22px;
        height: 20px;
        display: block;
    }
}
.table-item-mail{
    @media screen and (max-width:426px) {
        background-image: url(../assets/mail.png);
        background-repeat: no-repeat;
        color: transparent;
        font-size: 1px;
        width: 22px;
        height: 20px;
        display: block;
    }
}